*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# IntelliJ IDEA
# I don't use this, so I can't be sure if this actually works
.idea

# Ensime
.ensime
.ensime_cache

# ScalaJS
project/project
project/target
target/resolution-cache
target/streams
target/scala-2.11/classes/checker
